

<%- layout ("/layouts/boilerplate"); %> 

    

<div class="alert alert-primary d-flex align-items-center" role="alert">
 
  <div>
   ERROR  : <%= message %>  <br> <br>
   STATUS CODE  :  <%= status %> 

  </div>
</div>


